/* /Components/AboutComponent.razor.rz.scp.css */
/*article {*/
    /*width: 50%;*/
    /*height: 60vh;*/
    /*padding: 0.5rem 0.5rem;
    margin: 0px;
    display: grid;
}

article ::deep .Article-Title{
    width: 100%;
    padding: 0.2rem 0rem;
    justify-content: center;
    display: flex;
}

article ::deep .card-img-top{
    max-width: 100%;
    height: auto;
}

article ::deep .card{
    padding: 0.2rem 0.6rem;
}

article ::deep .card-title
{
    font-size: medium;
}

article ::deep .card-text
{
    font-size: medium;
}*/
/* /Components/BlogComponent.razor.rz.scp.css */
/*aside {
    border-left: 1px solid #000000;
    padding: 0.5rem 1.5rem;
    float: right;
    display: grid;
}

aside ::deep .Aside-Title {
    width: 100%;
    padding: 0.2rem 0rem;
    justify-content: center;
    display: flex;
}

aside ::deep h3 {
    margin: 0.5rem 0rem;
}

aside ::deep .card {
    justify-content: center !important;
}

aside ::deep .card {
    margin: 0.3rem 0rem;
}

aside ::deep .card-header {
    background-color: lightslategray;
}

aside ::deep .card-header h5{
    display: flex;
    justify-content: center;
}*/
/* /Components/FooterComponent.razor.rz.scp.css */
/*.FooterBar{
    width: 100vw;
    position: relative;
    background-color: lightgray;
    color: #ffffff !important;
    padding: 0.6rem 3rem;
    overflow: hidden;
}

.FooterBar ::deep #fontawesomeicon{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.FooterBar ::deep .block{
    width: 100px;
    display: inline-block;
}

.FooterBar ::deep #bootstrapicon{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.FooterBar ::deep #linkedinicon{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.FooterBar ::deep a img{
    width: 40px;
    height: 40px;
}

.FooterBar ::deep .copyright{
    justify-content: center;
    color: #000000;
    display: inline-flex;
}*/
/* /Components/HeaderBar.razor.rz.scp.css */
/*.top-row {
    border-bottom: 1px solid #000000;
    justify-content: flex-start;
    width: 100vw;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
}

.navbar-logo{
    width: 10vw;
    height: 100%;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    border: 0rem 1rem;
}

img{
    border-radius: 50%;
    display: inline-block;
    padding: 1rem 1rem;
    margin: 0;
    z-index: 0;
    position: relative;
    width: 150px;
    height: 150px;
}

h1{
    display: block;
    font-size: 4.5rem;
    padding: 0.1rem;
    margin: 0.5rem 3rem;
    z-index: 0;
    position: relative;
}

h2 {
    display: block;
    padding: 0.1rem;
    margin: 0.5rem 5rem;
    z-index: 0;
    position: relative;
}

.banner{
    z-index: -1;
    border-radius: 0%;
    margin: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    opacity: 0.6;
    position: absolute;
}*/
/* /Components/NavigationComponent.razor.rz.scp.css */
/*.NavigationBar {
    width: 100vw;
    background-color: black;
    display: inline-flex;
    margin: 0px 0px;
    padding: 0.2rem 0.2rem;
    border: 0px;
    justify-content: center;
}

::deep a {
    height: 100%;
    width: auto;
    padding: 0.5rem 0.5rem;
    margin: 0rem 6rem;
    text-decoration: none;
    color: gray;
}

::deep .active {
    color: antiquewhite;
}

::deep a:hover{
    color: red;
    background-color: white;
    border-radius: 5%;
}*/
/* /Components/ProjectComponent.razor.rz.scp.css */
/*aside{
    border-right: 1px solid #000000;
    padding: 0.5rem 1.5rem;
    float: left;
    display: grid;
}

aside ::deep .Aside-Title{
    width: 100%;
    padding: 0.2rem 0rem;
    justify-content: center;
    display: flex;
}

aside ::deep h3{
    margin: 0.5rem 0rem;
}

aside ::deep .card{
    justify-content: center !important;
}

aside ::deep .card{
    margin: 0.3rem 0rem;
}

aside ::deep .card-header {
    background-color: lightslategray;
}

aside ::deep .card-header h5{
    display: flex;
    justify-content: center;
}*/
/* /MainLayout.razor.rz.scp.css */
/*body{
    overflow: hidden;
}

.page{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.HeaderContent {
    position: relative;
}

.NavigationMenu{
    position: relative;
}

main{
    position: relative;
    margin: 0.2rem 0rem;
}

.FooterContent{
    position: relative;
}*/
/* /Pages/AboutPageComponent.razor.rz.scp.css */
/*.Article-Title {
    width: 100%;
    padding: 0.2rem 0rem;
    justify-content: center;
    display: flex;
}

 .content{
    width: 100%;
    display: flex;
    padding: 0.2rem 0.2rem;
}

.row ::deep .left{
    border-right: 1px solid #000000;
    padding: 0.2rem 2rem;
    display: block;
    overflow: scroll;
}

.row ::deep .right{
    border-left: 1px solid #000000;
    padding: 0.2rem 2rem;
    display: block;
}

.row ::deep section{
    padding: 0.2rem 2rem;
    display: block;
}

.row ::deep .Sub-Title{
    justify-content: center;
    display: flex;
}

.row ::deep .card{
    margin: 0.6rem 0rem;
}

.row ::deep .card-header{
    background-color: lightslategray;
}

.row ::deep .left .card-header h5{
    display: flex;
    font-weight: bold;
    justify-content: center;
}

article ::deep .left .card-body h6{
    display: flex;
    font-weight: bold;
    justify-content: center;
}*/
/* /Pages/Index.razor.rz.scp.css */
/*@media only screen and (max-width: 768)
{
    .MainContent {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 1044) 
{
    .MainContent {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        width: 100%;
        display: inline-flex;
        overflow:auto;
    }
}

@media only screen and (max-width: 1920) 
{
    .MainContent {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        width: 100%;
        display: inline-flex;
        overflow: auto;
    }

}
*/
