/*.Article-Title {
    width: 100%;
    padding: 0.2rem 0rem;
    justify-content: center;
    display: flex;
}

 .content{
    width: 100%;
    display: flex;
    padding: 0.2rem 0.2rem;
}

.row ::deep .left{
    border-right: 1px solid #000000;
    padding: 0.2rem 2rem;
    display: block;
    overflow: scroll;
}

.row ::deep .right{
    border-left: 1px solid #000000;
    padding: 0.2rem 2rem;
    display: block;
}

.row ::deep section{
    padding: 0.2rem 2rem;
    display: block;
}

.row ::deep .Sub-Title{
    justify-content: center;
    display: flex;
}

.row ::deep .card{
    margin: 0.6rem 0rem;
}

.row ::deep .card-header{
    background-color: lightslategray;
}

.row ::deep .left .card-header h5{
    display: flex;
    font-weight: bold;
    justify-content: center;
}

article ::deep .left .card-body h6{
    display: flex;
    font-weight: bold;
    justify-content: center;
}*/