<article>
    <h2 class="Article-Title">About</h2>
    <hr />
    <div class="content">
        <aside class="left">
            <h3 class="Sub-Title">Role History</h3>
            <div class="card">
                <div class="card-header">
                    <h5>Magellan Robotech Dec 2021 - Nov 2023</h5>
                </div>
                <div class="card-body">
                    <h6>Main Skills</h6>
                    <ul>
                        <li>C++ 14</li>
                        <li>QT 5.15.2</li>
                        <li>Postgres</li>
                        <li>Visual Studio</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>CooperVision Jan 2020 - Nov 2021</h5>
                </div>
                <div class="card-body">
                    <h6>Main Skills</h6>
                    <ul>
                        <li>C#</li>
                        <li>DevExpress</li>
                        <li>Microsoft SQL Server</li>
                        <li>Microsoft SQL Server Management Studio</li>
                        <li>Visual Studio</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Airbus Helicopters Deutschland Sep 2016 - Jun 2019</h5>
                </div>
                <div class="card-body">
                    <h6>Main Skills</h6>
                    <ul>
                        <li>C</li>
                        <li>Ada 83/95</li>
                        <li>Message Bus Systems</li>
                    </ul>
                </div>
            </div>
        </aside>
        <section>
            <h3 class="Sub-Title">About Myself</h3>
            <div class="card card-body">
                <p>
                    I am a Software Engineer who is passionate about software development. 
                    I have worked with a variety of programming languages and frameworks in my 9+ year career <br /><br />
                    I enjoy the challenge of learning new concepts and using my excellent problem solving skills to diagnose 
                    and debug faults within software and hardware systems. <br /><br />
                    I have a basic level of training in Electronics at NVQ1 which I thoroughly enjoyed. I also trained as an Electrician and 
                    while I enjoyed the people I did not enjoy the role so I decided to retrain and go to University at Staffordshire University. <br /><br />
                    I currently live in Warrington and I will be relocating in the Easter to Devon with my Wife and our Daughter.<br /><br />
                    My Hobbies include amateur electronics, Pool, Snooker, Formula 1, Food and playing games on my Xbox or my PC.
                </p>
            </div>
        </section>
        <aside class="right">
            <h3 class="Sub-Title">Education</h3>
            <div class="card">
                <div class="card-header">
                    <h5>Staffordshire University</h5>
                </div>
                <div class="card-body">
                    <h6>Degree</h6>
                    <p>BSc Software Engineering (Ordinary Degree)</p>
                </div>
            </div>
        </aside>
    </div>
</article>

@code {

}
