article {
    /*width: 50%;*/
    /*height: 60vh;*/
    padding: 0.5rem 0.5rem;
    margin: 0px;
    display: grid;
}

article ::deep .Article-Title{
    width: 100%;
    padding: 0.2rem 0rem;
    justify-content: center;
    display: flex;
}

article ::deep .card-img-top{
    max-width: 100%;
    height: auto;
}

article ::deep .card{
    padding: 0.2rem 0.6rem;
}

article ::deep .card-title
{
    font-size: medium;
}

article ::deep .card-text
{
    font-size: medium;
}