<aside class="aside-right">
    <div class="aside-title bg-gray-500">
        <h3>Blog</h3>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>04.03.2024</h5>
        </div>
        <div class="card-body">
            <p>
                <b>Started new role with Torbay Council as an Analyst Programmer L2.</b>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>13.11.2023</h5>
        </div>
        <div class="card-body">
            <p>
                <b>I am open to new roles and actively looking, please feel free to message me via LinkedIn using the LinkedIn icon on the footer below to navigate to my LinkedIn profile.</b>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>07.11.2023</h5>
        </div>
        <div class="card-body">
            <p> Today my position was made redundant by my employer due to economic downturn.<br /> 
                I am now actively looking for new job roles and applying online.<br />
                I am also looking to see what personal projects and other things I can look at to assist me in finding a new role.
            </p>
        </div>
    </div>
</aside>

@code {

}
