<div class="FooterBar row">
    <div class="copyright col-sm-6 col-md-6 col-6 col-lg-6 col-xl-6">
        <h2>&copy; Chris Moore 2023</h2>
    </div>
    <div class="block col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
        <a id="fontawesomeicon" href="https://fontawesome.com/">
            <span><img src="@fontAwesomeIconResource" alt="Font Awesome Icon" /></span>
        </a>
    </div>
    <div class="block col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
        <a id="bootstrapicon" href="https://getbootstrap.com/">
            <span><img src="@bootstrapIconResource" alt="BootStrap Icon" /></span>
        </a>
    </div>
    <div class="block col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
        <a id="linkedinicon" href="https://www.linkedin.com/in/chris-moore-2894024b">
            <span><img src="@linkedinIconResource" alt="Linkedin Icon" /></span>
        </a>
    </div>
</div>

@code {
    private string? linkedinIconResource = "Resources/Icons/FontAwesomeBrands/linkedin.svg";
    private string? fontAwesomeIconResource = "Resources/Icons/FontAwesomeBrands/font-awesome.svg";
    private string? bootstrapIconResource = "Resources/Icons/FontAwesomeBrands/bootstrap.svg";

}
