<div class="footer-bar">
    <div class="copyright">
        <h2>&copy; Chris Moore 2024</h2>
    </div>
    <div class="footer-link">
        <a id="fontawesomeicon" href="https://fontawesome.com/">
            <span><img src="@fontAwesomeIconResource" height="40" width="40" alt="Font Awesome Icon" /></span>
        </a>
    </div>
    <div class="footer-link">
        <a id="bootstrapicon" href="https://getbootstrap.com/">
            <span><img src="@bootstrapIconResource" height="40" width="40" alt="BootStrap Icon" /></span>
        </a>
    </div>
    <div class="footer-link">
        <a id="linkedinicon" href="https://www.linkedin.com/in/chris-moore-2894024b">
            <span><img class="fill-white" src="@linkedinIconResource" height="40" width="40" alt="Linkedin Icon" /></span>
        </a>
    </div>
</div>

@code {
    private string? linkedinIconResource = "Resources/Icons/FontAwesomeBrands/linkedin.svg";
    private string? fontAwesomeIconResource = "Resources/Icons/FontAwesomeBrands/font-awesome.svg";
    private string? bootstrapIconResource = "Resources/Icons/FontAwesomeBrands/bootstrap.svg";
 
}
