@* <div class="top-row">
    <img class="banner" src="@backgroundSource" alt="banner picture of Augsburg Botanical Gardens waterfall"/>
    <a class="navbar-logo" href="#">
        <img class="rounded-3" src="@imageSource" height="110" width="150" alt="image of Chris Moore"/>
    </a>
    <div class="header-title">
        <h1>Christopher Moore</h1>
        <h2>Software Engineer</h2>
    </div>
    
</div> *@

@code {
    private string? imageSource = "Resources/Images/Author/ChrisProfilePic-small.png";
    private string? backgroundSource = "Resources/Images/Background/BackgroundPic.png";
}
