<aside>
    <div class="Aside-Title">
        <h3>Projects</h3>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Personal Website</h5>
        </div>
        <div class="card-body">
            <p>This is my personal website to showcase some of my skills and my abilities to other people.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>C Programming</h5>
        </div>
        <div class="card-body">
            <p>Personal project using Eclipse IDE to write a small program encompassing network interaction, threading, linked lists, function pointers and other things.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>.NET MAUI Blazor Hybrid</h5>
        </div>
        <div class="card-body">
            <p>Project to explore and understand .NET MAUI Blazor Hybrid.<br />This approach should allow for building multi-platform apps using C# for backend and HTML/CSS for rendering the UI.</p>
        </div>
    </div>
</aside>

@code {
    string? ccodeImageResource = "Resources/Images/Code/C/C-Code.png";
}
