@tailwind base;
@tailwind components;
@tailwind utilities;

html, p {
    line-height: 1.25;
}

body {
}

.rounded-2 {
    border-radius: 0.5em;
}

.rounded-3 {
    border-radius: 0.75em;
}

.rounded-4 {
    border-radius: 1em;
}

.rounded-8 {
    border-radius: 2em;
}

@layer base {
    
    .page {
        @apply w-full h-full flex flex-col bg-off-white;
    }

    .main-content {
        @apply w-full h-full min-h-dvh grid xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 grid-flow-row auto-rows-max gap-20 px-4 py-6 bg-mid-blue;
    }

    .main-title {
        @apply w-full h-auto px-8 py-4 -mb-20 xs:text-5xl md:text-4xl font-bold xs:col-span-1 md:col-span-2 lg:col-span-4 text-center text-white bg-dark-blue rounded border-2 border-white;
    }

    .nav-bar {
        @apply w-full h-auto flex flex-row px-4 py-2 bg-eggshell-blue;
    }

    .nav-link {
        @apply xs:text-2xl md:text-xl text-center px-4 py-2 shrink items-center self-center;
    }

    .nav-link:hover {
        @apply text-white bg-cool-gray;
    }

    .nav-link:not(:last-child) {
        @apply border-r-2 border-white;
    }

    .navbar-logo img {
        @apply h-auto flex grow inline-block opacity-100 rounded-3 z-10;
    }

    .header-title {
        @apply w-full h-full py-4 px-8 flex flex-col grow shrink z-10 items-center self-center;
    }

    .header-title h1 {
        @apply w-full h-full items-center self-center text-center xs:text-3xl lg:text-5xl font-bold;
    }

    .header-title h2 {
        @apply w-full h-full block text-center text-4xl font-semibold;
    }

    .breadcrumb {
        @apply w-full h-12 px-8 py-2 flex text-left text-white bg-light-blue;
    }

    .content {
        @apply w-full h-full grid grid-cols-4 gap-10 px-6 py-4 mt-2;
    }

    .panel-right {
        @apply w-full h-auto flex flex-col col-span-2 px-4 py-2 mt-4;
    }

    .aside-left {
        @apply w-full h-full flex flex-col shrink grow-0 col-span-1 px-4 py-2 mt-4;
    }

    .central-content {
        @apply w-full h-full flex flex-col shrink grow-0 col-span-2 px-4 py-2 mt-4;
    }

    .aside-right {
        @apply w-full h-full flex flex-col shrink grow-0 col-span-1 px-4 py-2 mt-4;
    }

    .panel-right .aside-right {
        @apply py-0 col-span-2 mt-0;
    }

    .panel-right .aside-right:last-child {
        @apply mt-2;
    }

    .aside-title, .article-title {
        @apply w-full h-auto shrink grow-0 block text-center text-3xl py-2 px-2 rounded border-2 border-white;
    }

    .aside-title h3 {
        @apply w-auto bg-cool-gray px-6 py-4 border-0;
    }

    .article-text-block {
        @apply w-full h-auto px-4 py-2 bg-red-pantone text-base border-2 border-white mt-2;
    }

    .article-text-block p {
        @apply w-full h-full px-4 py-2 bg-fire-engine-red rounded-2 text-start;
    }

    .card {
        @apply w-full h-full flex flex-col p-4 border-2 mt-2 border-white bg-off-white text-xl rounded-2 shadow-lg;
    }

    .card-img-top {
        @apply w-full h-auto object-fill px-0 py-2;
    }

    .card-header {
        @apply w-full p-2 bg-dark-blue text-white rounded-2 text-center xs:text-4xl md:text-2xl;
    }

    .card-body {
        @apply w-full h-full px-4 py-4 bg-anti-flash-white rounded-2 mt-2 xs:text-3xl md:text-base text-dark-blue;
    }

    .card-title {
        @apply w-full h-auto px-2 py-2 text-2xl font-semibold;
    }

    .card-title h6 {
        @apply text-xl font-semibold;
    }

    .card-body p {
        @apply w-full h-auto px-2 py-2 xs:text-3xl md:text-base;
    }

    .footer-bar {
        @apply w-full h-auto flex flex-row gap-10 px-4 py-6 mt-4 relative bottom-0 bg-black text-white;
    }

    .copyright {
        @apply w-full flex shrink grow text-start text-3xl px-4 py-2;
    }

    .footer-link {
        @apply w-auto right-0 p-0;
    }

    .footer-link:hover {
        @apply opacity-70;
    }

    .footer-link:last-child {
        @apply pr-6;
    }
}