@inherits LayoutComponentBase

<div class="page">

    <div class="HeaderContent">
        <HeaderBar />
    </div>
    <div class="NavigationMenu">
        <NavigationComponent />
    </div>

    <main>
        @Body
    </main>

    <div class="FooterContent">
        <FooterComponent />
    </div>
</div>

