@inherits LayoutComponentBase

<div class="page">
    <div class="w-full h-auto">
        <NavigationComponent />
    </div>

    <main>
        @Body
    </main>

    <div class="w-full h-auto">
        <FooterComponent />
    </div>
</div>

